body{
    background-color: rgb(170, 135, 252);
    color: rgb(124, 131, 129);
    font-family: "Epunda Slab", serif;
    margin: 0px;
}

header{
    font-size: 56px;
    text-align: center;
    border: double  5px rgb(238, 63, 39);
    margin: 30px;
    padding: 30px;
}

h1{
    font-size: 33px;

}

p{
    font-size: 23px;
}
section{
background-color: rgb(117, 224, 176);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}
